<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="cstrings.config">
  </connectionStrings>
  <appSettings>
    <add key="PopulationFile" value="Downloads\98-316-XWE2011001-301_CSV\98-316-XWE2011001-301.CSV"/>
    <add key="IncomeFile" value="Downloads\99-004-XWE2011001-301_CSV\99-004-XWE2011001-301-ONT.CSV"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
