<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configSource="cstrings.config">
  </connectionStrings>
  <appSettings>
    <add key="GeographyFile" value="C:\Users\jmclachlan\Downloads\gcsd000a11g_e\gcsd000a11g_e.gml"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>